@font-face {
  font-family: 'Bowlby One SC';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Bowlby One SC Regular'), local('BowlbyOneSC-Regular'), url(https://fonts.gstatic.com/s/bowlbyonesc/v11/DtVlJxerQqQm37tzN3wMug9P_g_2pw.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local('Roboto Thin'), local('Roboto-Thin'), url(https://fonts.gstatic.com/s/roboto/v20/KFOkCnqEu92Fr1MmgVxIIzc.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fBBc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfBBc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local('Roboto Black'), local('Roboto-Black'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmYUtfBBc9.ttf) format('truetype');
}
html {
  font-size: 62.5%;
}
body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
  color: #2f2836;
}
h2,
span {
  font-family: "Bowlby One SC", sans-serif;
  color: #f15b3c;
}
.container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 50px;
}
/* nav section */
.navbar {
  height: 80px;
}
.navbar nav {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar nav h2 {
  font-size: 2.4rem;
}
.navbar nav div {
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar nav div a {
  text-decoration: none;
  padding: 3px 15px;
  border-radius: 3px;
  color: #555555;
  font-size: 1.6rem;
  transition: 0.35s ease-in-out;
}
.navbar nav div a:hover {
  cursor: pointer;
  color: #c2c2c2;
  opacity: 0.459;
}
.navbar nav div a:nth-child(3) {
  background-color: #ff631b;
  color: #fff;
  border-radius: 50px;
}
.navbar nav div a:nth-child(3):hover {
  opacity: 1;
  color: #fff;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.navbar nav div span {
  font-size: 2rem;
  transition: 0.35s ease-in-out;
}
.navbar nav div span:hover {
  cursor: pointer;
  opacity: 0.459;
}
.navbar nav div span.off {
  font-size: 2rem;
  opacity: 0.7;
  transition: 0.35s ease-in-out;
}
.navbar nav div span.off:hover {
  cursor: pointer;
  opacity: 1;
}
@media (max-width: 700px) {
  .navbar nav {
    flex-direction: column;
  }
}
/* header section cta */
header,
section {
  display: flex;
  justify-content: none;
  align-items: center;
}
header {
  height: 400px;
  justify-content: space-evenly;
}
header img {
  margin-top: 100px;
  height: 400px;
}
header div h1 {
  font-size: 5rem;
  margin: 0px;
  font-weight: bold;
}
header div {
  z-index: 1;
}
header div div {
  margin-top: 20px;
  border: solid 3px #ff631b;
  font-size: 1.8rem;
  padding: 5px 40px;
  width: max-content;
  border-radius: 50px;
  color: #ff631b;
  background-color: #fff;
  transition: 0.35s ease-in-out;
}
header div div:hover {
  cursor: pointer;
  border-color: #c2c2c2;
  color: #c2c2c2;
  opacity: 0.459;
}
@media (max-width: 1000px) {
  header {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  header img {
    height: 80%;
  }
}
@media (max-width: 860px) {
  header {
    flex-direction: row;
  }
  header img {
    position: absolute;
    height: 220px;
    right: 20%;
  }
}
/* info section w/ cards */
.bkDark {
  background-color: #66ec87;
  background: linear-gradient(-40deg, #00a650c7 0%, #66ec87 63%, #66ec87 100%);
  padding: 100px 0 150px;
  z-index: -100;
}
.cardSection {
  height: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.cardSection div {
  max-width: 550px;
  padding: 25px 50px 30px 30px;
  border-radius: 3px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.cardSection div h3 {
  margin: 0px;
  font-size: 2rem;
  color: #c2c2c2;
  font-weight: 500;
}
.cardSection div h3 span {
  color: #f15b3c;
}
.cardSection div p {
  margin-top: 10px;
  font-size: 1.5rem;
  color: #555555;
  font-weight: 300;
}
.cardSection div::after {
  content: "";
  display: inline-block;
  background-color: #00a650c7;
  width: 70%;
  height: 10px;
}
@media (max-width: 1000px) {
  .cardSection {
    flex-direction: column;
  }
}
#about div {
  align-self: flex-end;
  margin-bottom: 50px;
}
#about img {
  margin-top: -50px;
  margin-right: -50px;
  height: 450px;
}
@media (max-width: 1000px) {
  #about div {
    align-self: center;
  }
  #about img {
    position: absolute;
    height: 250px;
    margin-top: 80px;
    right: 15%;
  }
}
@media (max-width: 860px) {
  #about img {
    display: none;
  }
}
#value img {
  height: 380px;
  margin-left: -80px;
  margin-right: 75px;
  margin-bottom: -170px;
}
@media (max-width: 1000px) {
  #value img {
    position: absolute;
    height: 200px;
    margin-right: 0px;
    margin-top: 120px;
    right: 4%;
  }
}
@media (max-width: 860px) {
  #value img {
    display: none;
  }
}
#brands {
  min-height: 250px;
  flex-direction: column;
  justify-content: center;
}
#brands h3 {
  font-size: 2.4rem;
  font-weight: 500;
}
#brands div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
#brands div img {
  height: 70px;
  transition: 0.3s;
}
#brands div img:hover {
  cursor: pointer;
  opacity: 0.3;
}
#brands div .long {
  height: 30px;
}
#brands div .med {
  height: 50px;
}
@media (max-width: 860px) {
  #brands div {
    justify-content: center;
  }
  #brands div img {
    height: 90px;
    margin: 10px 0;
  }
  #brands div .long {
    height: 50px;
  }
  #brands div .med {
    height: 70px;
  }
}
.about-container {
  max-width: 1000px;
  margin: 0 auto;
}
.aboutWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.aboutWrap .founders {

  margin-bottom: 2rem 0 5rem 0;


}
.aboutWrap .founders h2 {
  color: #f15b3c;
  font-size: 3.5rem;
  font-weight: bold;
}
.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.cards .card-row:nth-child(1) {
  max-width: 70%;
}
.cards .card-row {
  display: flex;
  justify-content: space-between;
  height: 20rem;
  width: 100%;
  margin-bottom: 10rem;
}
.cards .card-row .card {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  width: 16rem;
  height: 100%;

  border-radius: 5px;

  perspective: 1000px;
  /* Remove this if you don't want the 3D effect */
}
.cards .card-row .card  .flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  /* Do an horizontal flip when you move the mouse over the flip box container */
  /* Position the front and back side */
  /* Style the back side */
}
.cards .card-row .card  .flip-card-inner:hover {
  transform: rotateY(180deg);
}
.cards .card-row .card  .flip-card-inner .flip-card-front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 5px;
  background-color: #bbb;
  color: black;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.cards .card-row .card .flip-card-inner .flip-card-front img {
  border-radius: 5px;


  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.cards .card-row .card .flip-card-inner .flip-card-back {
  border-radius: 5px;

  background-color: #f15b3c;
  color: white;
  transform: rotateY(180deg);
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;


  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  padding: 0.2rem;
}
.cards .card-row .card  .flip-card-inner .flip-card-back h3 {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

.cards .card-row .card .flip-card-inner .flip-card-back .card-text {
  text-align: center;
  padding: 0 20px;
  height: 100%;
  font-size: 1.2rem;
}
footer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: 170px;
}
footer .contact {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: white-smoke;
}
footer .contact address {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.3rem;
}
footer .copyright {
  font-size: 1.6rem;

}
