/* nav section */
.navbar {
  height: 80px;
  nav {
    height: 100%;
    .flex();
    div {
      width: 300px;
      .flex();
      a {
        text-decoration: none;
        padding: 3px 15px;
        border-radius: 3px;
        color: @grayTextColor;
        .transition(0.35s ease-in-out);
      }
      a:nth-child(3) {
        background-color: @orangeBkg;
        color: #fff;
      }
      a:hover {
        color: @grayHeaderColor;
        opacity: 0.459;
      }
      a:nth-child(3):hover {
        opacity: 1;
        color: #fff;
        box-shadow: @shadow;
      }
    }
  }
}

/* header section cta */
