@greenBkg: #66ec87;
@darkGreenBkg: #00a650c7;
@orangeTextColor: #f15b3c;
@orangeBkg: #ff631b;
@grayHeaderColor: rgb(194, 194, 194);
@grayTextColor: rgb(85, 85, 85);
@bodyTextColor: rgb(47, 40, 54);
@shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

@import url("https://fonts.googleapis.com/css?family=Bowlby+One+SC|Roboto:100,300,400,700,900&display=swap");
@displayFont: "Bowlby One SC", sans-serif;
@bodyFont: "Roboto", sans-serif;
@fontSize: 62.5%;

@width: ~"(max-width: 1000px)";
@width2: ~"(max-width: 860px)";
@width3: ~"(max-width: 700px)";
